.signup-wrap
  = render "layouts/header"
  .signup-main
    .signup-form
      .signup-form__information
        会員情報
      .signup-form__first
        = form_for(@user, url: users_sign_up_path) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :ニックネーム 
            = f.label :必須, { class: 'form-require' }
            %br/
            = f.text_field :nickname, autofocus: true, autocomplete: "on", placeholder: "例）フリマ 太郎", class: "text-form"
          .field
            = f.label :メールアドレス 
            = f.label :必須, { class: 'form-require' }
            %br/
            = f.email_field :email, autocomplete: "on", placeholder: "@とドメインを含む", class: "text-form"
          .field
            = f.label :パスワード
            = f.label :必須, { class: 'form-require' }
            - if @minimum_password_length
              %em
                (最低 7文字以上)
            
            = f.password_field :password, autocomplete: "on", placeholder: "#{@minimum_password_length} 文字以上の半角英数字", class: "text-form"
            %p.info-text ※ 英字と数字の両方を含めて設定してください

          .field
            = f.label :確認用パスワード
            = f.label :必須, { class: 'form-require' }
            %br/
            = f.password_field :password_confirmation, autocomplete: "on", placeholder: "もう一度入力してください", class: "text-form"
          %h2.identification 本人確認
          %p.confirmation 安心・安全にご利用いただくために、<br/>お客さまの本人情報の登録にご協力ください。<br/>他のお客さまに公開されることはありません。
          .field
            = f.label :お名前（全角）
            = f.label :必須, { class: 'form-require' }
            %br/
            .field__name
              = f.text_field :family_name, autocomplete: "on", placeholder: "例) 山田", class: "familyname"
              = f.text_field :first_name, autocomplete: "on", placeholder: "例) 太郎", class: "firstname"
          .field
            = f.label :お名前かな（全角）
            = f.label :必須, { class: 'form-require' }
            %br/
            .field__name
              = f.text_field :family_name_kana, autocomplete: "on", placeholder: "例) やまだ", class: "familyname"
              = f.text_field :first_name_kana, autocomplete: "on", placeholder: "例) たろう", class: "firstname"
          .field
            = f.label :生年月日
            = f.label :必須, { class: 'form-require' }
            %br/
            != sprintf(f.date_select(:birthday,with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
            %p.info-text※ 本人情報は正しく入力してください。<br/>会員登録後、修正するにはお時間を頂く<br/>場合があります。
          .field
            = f.submit "次へ進む", class: "signup-btn"
            %p.recaptcha_term
              This site is protected by reCAPTCHA and the Google
              =link_to "Privacy Policy"
              and
              =link_to "Terms ofService"
              apply.
  = render "layouts/footer"