.pro--list__wrap
  = render 'layouts/searchheader'
  .category--field
    .category__main
      .parent__box
        .category--title{ id: "#{@child.name}" }
          .category--font
            #{@child.name}の商品一覧
        .children__boxes
          - @grandchildren.each do |grandchild|
            .grandchild__box
              = link_to grandchild.name, "/bottomcategories/#{grandchild.id}", class: "grandchild--title"
 
  = render 'layouts/camerabtn'
  = render 'layouts/richfooter'
