= render "layouts/searchheader.html"
.my--main
  .my--main__boxes
    ユーザー名：
    .my--nickname
      = current_user.nickname
= render "layouts/menu_bar"
= render "layouts/footer" 
= render "layouts/richfooter.html" 