.confirm__wrap
  = render "layouts/header"
  .confirm__main
    .confirm__title
      購入内容の確認
    .confirm__product
      .confirm__product__box
        .confirm__product__box__inner
          .confirm__product--image
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-f/#{@images[0].picture.file.path}"
          .confirm__product--detail
            .confirm--name 
              = @item.condition.name
              %br/
              = @item.name
            .confirm__detail--box
              .confirm--price 
                ¥
                = @item.price
              .confirm--fee
                (税込)
                = @item.postage_payment.name  
    .confirm__payment
      .totalpayment
        .totalpayment--name
          支払い金額
        .totalpayment--price
          ¥
          = @item.price
      .payment-rule
        .payment-rule-title
          支払い方法
        .please-register
          = icon("fa", "plus-circle")
          = link_to "登録してください", new_credit_card_path
      .payment-rule
        .payment-rule-title
          配送先
        .address-data
          = @address.postal_code
          %br/
          = @address.prefecture.name
          = @address.city
          = @address.block
          = @address.building
          %br/
          = @address.family_name
          = @address.first_name
      .payment-btn
        %button.submit__btn--ex{type: "submit"}購入する
  = render "layouts/footer"