= render "layouts/searchheader"
-# = render "layputs/main"

.main
  .top
    .content
      %h2.content__title
        <br/>人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる<br/>フリマアプリです
      .content__btn
      .content__picture
  .introduction
    %h2.subtitle
      FURIMAが選ばれる３つの理由
    %ul.lists
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-01.jpg", class:"icon",size: "166x166"
        %h3.list__toptext
          3分 ですぐに出品
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-02.jpg", class:"icon",size: "166x166"
        %h3.list__toptext
          3分 ですぐに出品
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-03.jpg", class:"icon",size: "166x166"
        %h3.list__toptext
          3分 ですぐに出品
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
  .feature
    %h2.featuretop
      FURIMAの特徴
    .featurecontents
      %section.featurecontent
        .featurecontent__img
          = image_tag "material/icon/icon-01.png", class:"icon",size: "166x166"
        .featurecontent__img
          = image_tag "material/icon/icon-02.png", class:"icon",size: "166x166"
        .featurecontent__img
          = image_tag "material/icon/icon-03.png", class:"icon",size: "166x166"
        




