= render "layouts/searchheader"
-# = render "layputs/main"

.main
  %section.top
    .content
      %h2.content__title
        <br/>人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる<br/>フリマアプリです
      .content__btn
        .content__btn__applebtn
        .content__btn__googlebtn
      .content__picture
  .introduction
    %h2.subtitle
      FURIMAが選ばれる３つの理由
    %ul.lists
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-01.jpg",class:"list__img",size: "200x200"
          %span.num
            1
        %h3.list__toptext
          %span
            3分
          ですぐに出品
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-01.jpg",class:"list__img",size: "200x200"
          %span.num
            2
        %h3.list__toptext
          %span
            シンプル
          で使いやすい
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__img
          = image_tag "material/pict/pict-reason-03.jpg",class:"list__img",size: "200x200"
          %span.num 
            3
        %h3.list__toptext
          手数料
          %span
            業界最安
        %p.list__undertext
          スマホで入力するだけで簡単に出品できる！
  %section.middle
    .middle__inner
      %h2
        会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br
          出品・購入回数も業界最多です！
        %br
          ほしかったあの商品に出会えるかもしれません。
      .content__btn
        .content__btn__applebtn
        .content__btn__googlebtn
  .feature
    %h2.featuretop
      FURIMAの特徴
    .featurecontents
      %section.featurecontent
        = image_tag "material/icon/icon-01.png", class:"featurecontent__img",size: "73x120"
        %h3.featurecontent__message
          簡単に売り買いできる
        %h3.featurecontent__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.featurecontent
        = image_tag "material/icon/icon-03.png", class:"icon",size: "73x120"
        %h3.featurecontent__message
          売上金は即日振込みに対応
        %h3.featurecontent__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.featurecontent
        = image_tag "material/icon/icon-04.png", class:"icon",size: "73x120"
        %h3.featurecontent__message
          様々な支払いに対応
        %h3.featurecontent__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。




