= render "layouts/header"

.productlisting-wrap
  .main
    = form_with model: @item, local: true do |f|
      = render 'layouts/itemnew_error_messages', model: f.object
      .content
        = f.fields_for :images do |i|
          .field
            .field__header
              = i.label :出品画像
              %span.colored.required 必須
            %p 最大10枚までアップロードできます
            #image-box-1
              .item-num-0#image-box__container
                %label.image-upload
                  .image-upload__box
                    = icon("fa", "camera")
                    %p クリックしてファイルをアップロード
                    = i.file_field :picture, class: 'file-input', type: 'file'

      .content
        .field
          .field__header
            = f.label :商品名, class: 'title'
            %span.colored.required 必須
          .field__input
            = f.text_field :name, placeholder: '40字まで'
        
        .field.withmargin
          .field__header
            = f.label :商品の説明
            %span.colored.required 必須
          .field__input
            = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: '6'
          %span.char-counter 0/1000

      .content
        %p.content__about 商品の詳細
        .field.withmargin.field__category
          .field__header
            = f.label :カテゴリー
            %span.colored.required 必須
          .field__input.field__input__category
            = f.collection_select :category_id, @parent_categories.all, :id, :name, { prompt: '選択してください' }, { name: '', id: 'parent_category' }
            = icon('fas', 'chevron-down')
        
        .field.withmargin
          .field__header
            = f.label :ブランド
            %span.colored.optional 任意
          .field__input
            = f.text_field :brand_id, placeholder: '例）シャネル'
        
        .field.withmargin
          .field__header
            = f.label :商品の状態
            %span.colored.required 必須
          .field__input
            = f.collection_select :condition_id, Condition.all, :id, :name, { prompt: '選択してください' }
            = icon('fas', 'chevron-down')

      .content
        %p.content__about 配送について
        = link_to '#' do
          = icon('far', 'question-circle')
        .field.withmargin
          .field__header
            = f.label :配送料の負担
            %span.colored.required 必須
          .field__input
            = f.collection_select :postage_payment_id, PostagePayment.all, :id, :name, { prompt: '選択してください' }
            = icon('fas', 'chevron-down')

        .field.withmargin
          .field__header
            = f.label :発送元の地域
            %span.colored.required 必須
          .field__input
            = f.collection_select :ship_from_id, Prefecture.all, :id, :name, { prompt: '選択してください' }
            = icon('fas', 'chevron-down')

        .field.withmargin
          .field__header
            = f.label :発送までの日数
            %span.colored.required 必須
          .field__input
            = f.collection_select :preparation_id, Preparation.all, :id, :name, { prompt: '選択してください' }
            = icon('fas', 'chevron-down')

      .content
        %p.content__about 価格（¥300〜9,999,999）
        = link_to "#" do
          = icon("far", "question-circle")
        .field.withmargin.price
          .field__header
            = f.label :販売価格
            %span.colored.required 必須
          .price-input
            %span ¥
            = f.number_field :price, value: '0'
        .price-opt.comission
          %span 販売手数料（10%）
          %span ー
        .price-opt
          %span 販売利益
          %span ー

      .btn
        = f.submit :出品する
        = link_to '#' do
          もどる
    
      .notes
        禁止されている
        = link_to "#" do
          行為
        および
        = link_to "#" do
          出品物
        を必ずご確認ください。
        = link_to "#" do
          偽ブランド品
        や
        = link_to "#" do
          窃盗物
        などの販売は犯罪であり、 法律により処罰される可能性があります。 また、出品をもちまして
        = link_to "#" do
          加盟店規約
        に同意したことになります。

= render 'layouts/footer'
