= render 'layouts/searchheader'

%main
  .contents
    .product
      %h1.product__name
        = @item.name
      .product__images
        .product__images__main-image
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-f/#{@picture[0].picture.file.path}", width: '560', height: '350'
        %ul.product__images__sub-images
          - @picture.each do |image|
            %li.product__images__sub-images__image
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-f/#{image.picture.file.path}", width: '140', height: '90'
      .product__price-info
        .product__price-info__price
          = "#{(@item.price * @tax).to_i}円"
        .product__price-info__include
          .product__price-info__include--tax
            (税込)
          .product__price-info__include--postage
            送料込み

      .product__description
        = @item.description
      %table
        %tr
          %th
            出品者
            %td
              = @item.user.nickname
        %tr
          %th
            カテゴリー
            %td
              %ul.product__categories
                %li
                  = link_to "#{@parent.name}", "/subcategories/#{@parent.id}", class: 'product__category'
                %li
                  = link_to "#{@child.name}", "/subcategories/#{@child.id}", class: 'product__category'
                %li
                  = link_to "#{@grandchild.name}", "/bottomcategories/#{@grandchild.id}", class: 'product__category'
        %tr
          %th
            ブランド
            %td
              - if @item.brand.present?
                = @brand
        %tr
          %th
            商品のサイズ
            %td
              - if @item.size.present?
                = @size
        %tr
          %th
            商品の状態
            %td
              = @condition
        %tr
          %th
            配送料の負担
            %td
              送料込み（出品者負担）
        %tr
          %th
            発送元の地域
            %td
              = @address
        %tr
          %th
            発送日の目安
            %td
              = @preparation
      .product__bottom
        %button.product__bottom__like-btn
          = icon('fas', 'star')
          お気に入り 0
        = link_to '#', class: 'product__bottom__report-btn' do
          = icon('fab', 'font-awesome-flag')
          不適切な商品の通報
      
   
      .product__buybtn
      - if user_signed_in? && current_user.id != @item.user_id
        .buybtn
          = link_to new_buying_path,class: 'buybtn__btn' do
            = icon('fas', 'cart-arrow-down')
            購入画面に進む



  - if user_signed_in? && current_user.id == @item.user_id
    .edit-destroy
      .edit-destroy__edit-btn
        = link_to edit_item_path, class: 'editbtn' do
          = icon('fas', 'edit')
          商品の編集
        = link_to item_path(@item), method: :delete, class: 'destroybtn' do
          = icon('fas', 'trash-alt')
          商品の削除








  - if user_signed_in? && current_user.id != @item.user_id
    .comment
      %form.comment-form
        %textarea.comment-form__textarea{rows: '5'}
        .comment-form__notice
          相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button.comment-form__submit-btn
          = icon('fas', 'comment')
          コメントする

    .previous-and-next
      = link_to '#', class: 'previous-product' do
        = icon('fas', 'chevron-left', class: 'icon--chevron')
        前の商品
      = link_to '#', class: 'next-product' do
        後ろの商品
        = icon('fas', 'chevron-right', class: 'icon--chevron')

    = link_to '#', class: 'same-category-products' do
      ベビー・キッズをもっと見る
= render 'layouts/camerabtn'
= render 'layouts/richfooter'
