.pro--list__wrap
  = render 'layouts/searchheader'
  .category--field
    .category__main
      .parent__box
        .category--title{ id: "#{@children.name}" }
          .category--font
            #{@children.name}の商品一覧
        .children__boxes
          - @grandchildren.each do |grandchild|
            .grandchild__box
              = link_to grandchild.name, "/bottomcategories/#{grandchild.id}", class: "grandchild--title"
      .category__image
        .category__image--list
          .sample--image
          .sample--text
            商品名
            12,345円
            (税込)
        .category__image--list
          .sample--image
          .sample--text
            商品名
            12,345円
            (税込)
        .category__image--list
          .sample--image
          .sample--text
            商品名
            12,345円
            (税込)
        .category__image--list
          .sample--image
          .sample--text
            商品名
            12,345円
            (税込)
        

  = render 'layouts/camerabtn'
  = render 'layouts/richfooter'
