.pro--list__wrap
  = render 'layouts/searchheader'
  .category--field
    .category__main
      .category__panel
        - @category.each do |parent|
          .parent--panel
            = link_to parent.name, "#", class: "panel--font" 
      .parent__box
        - @category.each do |parent|
          .parent--title
            = link_to parent.name, "#", class: "parent--font", id: "#{[:name]}"
          .children__boxes
            - parent.children.each do |child|
              .children--box
                = link_to child.name, "#", class: "children--title"
              .grandchild__box
                - child.children.each do |grandchild|
                  .grandchild--list
                    = link_to grandchild.name, "#", class: "grandchild--title"               
        .return--top
          = link_to "トップページへ戻る", "#", class: "up--arrow"
  = render 'layouts/camerabtn'
  = render 'layouts/richfooter'
