= render 'layouts/searchheader'
.category--field
  .category__main
    .category__box
      - @parents.each do |parent|
        .parent--panel
          = parent.name
    .parent__box
      .parent--title
        レディース
        .children__box
          - @parents.each do |parent|

            - parent.children.each do |child|
              -# .children--title
              = child.name
  
  -#   - child.children.each do |grandchild|
  -#     =grandchild.name


  
= render 'layouts/camerabtn'
= render 'layouts/richfooter'