.main__field
  .menu__bar
    .menu__bar--title
      マイページ
    .menu__bar--list
      %ul.pulldown
        %li= link_to "出品する", new_item_path, class: "menu__bar--list__contents"
        %li= link_to "発送元・お届け先住所変更", edit_user_address_path(current_user,current_user), class: "menu__bar--list__contents"
        %li= link_to "支払い方法", "#", class: "menu__bar--list__contents"
        %li= link_to "本人情報変更",  edit_user_registration_path, class: "menu__bar--list__contents"
        %li= link_to "ログアウト", logout_path, class: "menu__bar--list__contents"