%header
  .inner
    .upper
      %h1.upper__left
        = link_to root_path, class: 'logo' do
          = image_tag "material/logo/logo.png", class: "logo__icon", size: "140x40"
      .upper__right
        .upper__right__search
          %form.search-form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input.search-form__input{name: "key", placeholder: "キーワードから探す"}
            %button.search-form__btn{type: 'submit'}
              = icon('fas', 'search')
    
    .lower
      %ul.lower__left
        %li.lower__left__category
          = link_to categories_path, class: 'category' do
            カテゴリー
        %li.lists__left__bland
          = link_to '#', class: 'bland' do
            ブランド
      %ul.lower__right
        - if user_signed_in?
          %li.lower__right__loginbtn 
            = link_to user_path(current_user) do
              マイページ
          %li.lower__right__logoutbtn 
            = link_to logout_path do
              ログアウト

        - else
          %li.lower__right__loginbtn
            = link_to new_user_session_path do
              ログイン
          %li.lower__right__signupbtn
            = link_to new_user_registration_path do
              新規会員登録
